.grid-block, .main, .post {
	background: #fff;
	border-radius: 3px;
	margin-bottom: 10px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
	background: #eee;
	color: #666666; }

img {
    border-color: transparent;
    outline-style: hidden;
}


#logo {
     margin-top: -10px;
    
}
textarea {
	resize: none; }

.navbar {
	margin-bottom: 10px; }

	.navbar .navbar-inner {
		border-radius: 0px 0px 3px 3px; }

.spinner {
    margin-top: 500px;
    margin-left: 200px;
}

.post {
	*zoom: 1;
	position: relative;
	opacity: 1; }

	.post:before, .post:after{
		content: "";
		display: table; }
	.post:after {
		clear: both; }
	.post.invisible {
		opacity: 0; }
	.post .post-content {
		float: left;
		margin: 15px; }
		.post .post-content a {
			font-size: 14px;
			font-weight: bold; }
		.post .post-content p {
			font-size: 14px;
			font-weight: normal; }
		.post .post-content p span {
			font-size: 10px;
			color: #aaaaaa; }



#textBox {
  /*background-image: url('../image/Twitterbox1.png');
  background-repeat: no-repeat; */
  height: 182px;
  width:  645px;
  margin-left:25px;
}

#theImage {
   height: 182px;
   width:  645px;
   
}


#theTextBox {
    position: absolute;
    height: 110px;
    width: 190px;
    margin-top: -115px;
    margin-left: 250px;
       
}

.btn-group {
  position: relative;
  top: -25px;
  margin-left: 170px;
  
}


#helperIcon {
   position: relative;
   top: -56px;
   margin-left: 360px;
}

#helperIcon img {
  
  width: 30px;
} 