textarea {
	resize: none; 
}

.navbar {
	background-color: white;
	border: white;
}

.spinner {
    margin-top: 500px;
    margin-left: 200px;
}

hr{
	border-top: 1px solid #A8A8A8;
	margin-top: 5px;
	margin-bottom: 0px;
}

.post{
	height:55px;
	display: table; 
}

.postContent{
  display:table-cell;
  vertical-align:middle;
}

.postImage{
	display:inline-block; 
	width:35px;
	margin-right: 5px;
}
.postImage > img{
	width:35px;
}

.postText{
	vertical-align:middle;
}

.postTime{
	font-size: 10px;
	color: #aaaaaa; 
}

.container{
	width: 610px;
}

.well{
	height:250px;
}

#theImage {
   height: 200 px;
   width:  500px;
   z-index: -1;  
}

.blueUnderline{
   text-decoration: underline;
   color: blue;
}

.highlighted {
	background-color: yellow;
}

.description{
	font-size: 16px;
	width: 650px;
}

.btn-group-wrap{
	/*
  position: absolute;

  top:180px;
  left:450px;
  z-index: 0;
  background-color: yellowgreen;
*/

  position: relative;

  top:-180px;
  left:350px;
  z-index: 0;
  background-color: yellowgreen;
  width: 200px;
  height: 200px;
}

.btn-group {
  top: 5px;
  width: 140px;
  margin-left: 20px;
}

#button2, #button3 {
	margin-left: 5px;
}

#helperIcon {
	position: absolute;
	left:150px;
	top: 130px;
}

#helperIcon img {
  width: 30px;
} 