




textarea {
	resize: none; }

.navbar {
margin-bottom: 10px; 
height: 80px;
background-color: white;
border: white;}


.spinner {
    margin-top: 500px;
    margin-left: 200px;
}

hr{
	border-top: 1px solid #A8A8A8;
	margin-top: 5px;
	margin-bottom: 0px;
}

.post{
	height:55px;
	display: table; 
}

.postContent{
  display:table-cell;
  vertical-align:middle;
}

.postImage{
	display:inline-block; 
	width:45px;
	margin-right: 5px;
}
.postText{
	vertical-align:middle;
}

.postTime{
	font-size: 10px;
	color: #aaaaaa; 
}

/*
.well{
	width: 650px;
}

.posts{
	width: 650px;
}
*/
.container{
		width: 65%;

}
#textBox {
  /*background-image: url('../image/Twitterbox1.png');
  background-repeat: no-repeat; 
    margin-left:25px;
*/
 
  height: 200px;
 /****
  width:  650px;
  ****/
}

#theImage {
   height: 200 px;
   width:  500px;
   z-index: -1;  
}


#theTextBox {
  /*
    position: absolute;
    height: 110px;
    width: 190px;
    left:450px;
    top:125px;
          z-index: 0;

    */

 /*   margin-top: -115px;
    margin-left: 250px;
    */

       
}

.blueUnderline{
   text-decoration: underline;
   color: blue;

}

.highlighted {
	background-color: yellow;
}

.description{
	font-size: 16px;
	width: 650px;
}

.btn-group-wrap{
  position: absolute;

  z-index: 0;
  top:180px;
  left:450px;
  z-index: 0;
  background-color: yellowgreen;

  width: 200px;
  height: 200px;
}

.btn-group {
  /*
  position: relative;
  top: -25px;
  margin-left: 170px;
  */
  	top: 5px;

  width: 140px;
  margin-left: 20px;
  
}


#button2 {
	margin-left: 5px;
}


#button3 {
	margin-left: 5px;
}

#helperIcon {
/*   
position: relative;
top: -56px;
   margin-left: 360px;

  */
	position: absolute;
	left:150px;
	top: 130px;
/*
	position: absolute;
    top:225px;

	left:570px;

	z-index: 0;

*/

}

#helperIcon img {
  
  width: 30px;
} 